* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fceed0;
	background-image: url('../assets/mainBackground1.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2f2407;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}
header {
	text-align: center;
	margin-top: 2rem;
}
header > h1 {
	color: #d4813c;
}
/* navigation styles */

nav {
	margin: 2rem auto 0 auto;
	height: 5rem;
	width: 80vw;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	/* border: 2px solid black; */
	background-color: #f091442e;
}
nav > .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.nav-list > .nav-list--item {
	list-style-type: none;
}
.nav-list--item > a {
	text-decoration: none;
	color: #716b60;
	font-size: 1.5rem;
}
.nav-list--item > a:hover {
	color: #d4813c;
}
.selected {
	color: #2f2407;
	border-bottom: 2px solid #d4813c;
}
main {
	flex: 2;
	margin-top: 4rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem;
}
main > p {
	font-size: 1.3rem;
}
.my-location {
	color: white;
	background-color: #2f2407;
	padding: 0.5rem;
	border-radius: 0.5rem;
	text-decoration: none;
	transition: all ease 0.3s;
}
.my-location:hover {
	color: #d4813c;
}
/* main styles */
.category-title {
	font-size: 1.7rem;
	letter-spacing: 0.1rem;
}
.main-o-list {
	list-style-type: upper-roman;
	font-size: 1.4rem;
}
.main-o-list > li {
	margin-top: 2rem;
}
.main-o-list--item {
	color: #d4813c;
	font-size: 1.4rem;
	text-decoration: none;
}
.main-o-list--item:hover {
	color: #f09144;
}
/* section items styles */
.japanese-title {
	position: relative;
	width: fit-content;
	margin: 0 auto;
}
.japanese-title::before {
	z-index: -1;
	position: absolute;
	content: '';
	background-color: rgba(255, 0, 0, 0.612);
	width: 70px;
	height: 70px;
	border-radius: 50%;
	top: -1.5rem;
	left: -2rem;
}
.game-title {
	position: relative;
	width: fit-content;
	margin: 0 auto;
}
.game-title::before {
	z-index: -1;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-top: 35px solid transparent;
	border-left: 80px solid rgba(255, 174, 0, 0.459);
	border-bottom: 35px solid transparent;
	top: -1rem;
	left: -1rem;
}
.section-title {
	color: black;
	font-size: 2rem;
	font-weight: 500;
	font-style: italic;
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
}
.section-items--wrap {
	max-width: 80vw;
	height: 300px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.image-wrap {
	overflow: hidden;
	height: 300px;
	flex: 1;
	border: 3px solid #f09144;
	min-width: 360px;
}
.image-wrap > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.text-wrap {
	flex: 1;
	padding: 2rem;
	font-size: 1.3rem;
	min-width: 360px;
}
.text-wrap > h4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.text-wrap > ul {
	margin-left: 2rem;
}
.btn-back {
	color: white;
	background-color: #2f2407;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	text-decoration: none;
	transition: all ease 0.3s;
}
.btn-back:hover {
	color: #d4813c;
}

/* footer styles */

.map-background {
	height: 300px;
	background-image: url('../assets/worldmap.svg');
	background-position: center;
	background-repeat: no-repeat;
}

footer {
	margin-top: 1rem;
	border-top-left-radius: 10%;
	border-top-right-radius: 50%;
	background-color: #d39c64;
	height: 150px;
}

/* general styles */

.inverted-row {
	flex-direction: row-reverse;
}
section {
	margin-bottom: 1rem;
}
/* media queries */
@media only screen and (max-width: 900px) {
	.section-items--wrap {
		height: fit-content;
	}
}
